aclocal.m4
config.h
config.h.in
config.h.in~
config.log
config.status
config.guess
config.sub
configure
configure.ac~
configure.scan
compile
depcomp
install-sh
missing
autom4te.cache

Makefile
Makefile.in
/io/Makefile
/sha1/Makefile
/shm_cache/Makefile
/simd/Makefile
/simd/unittest/Makefile
/simd/unittest/g8iutable_2.txt
/simd/unittest/g8iutable_4.txt
/simd/unittest/g8iutable_8.txt
/src/Makefile

stamp-h1
.deps
.*
*.o
*.log
*.trs
*_test
test_main.cpp
test-driver

bin
mmap
typetraits
shm_cache
